// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{ margin: 0; padding:0 }
ul,li{
    // list-style: none;
}

$item: 12;
$depth-list:(0,1,2,3,4);


@each $i in $depth-list{
    .cate-depth-#{$i}{
        margin-left: #{$i * $item}px;    
    }
}

.tree-view-container{
    padding:20px;
    border:10px solid gray;
}